.venv/
.vscode/
*.db
*.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.env
*.DS_Store
*.egg-info/
*.vscode/
.idea/
*.coverage
build/
dist/
.eggs/
pip-wheel-metadata/
htmlcov/
.tox/
.coverage.*
.cache/
nosetests.xml
coverage.xml